@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Baumans', cursive;
    box-sizing: border-box;
} 

p, label{
    font-size: 1.5rem;
}


/* Styling the header */

.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    z-index: 1;
    padding: 30px 70px 30px 70px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header-text{
    font-size: 2.5rem;
}

.log-in{
    background-color: #F0F0F0;
    width: 90px;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    transition: filter 0.2s ease-in-out;
}

.log-in:hover , .add-book:hover {
    background-color: #F0EEF1;
    filter: brightness(90%);
    box-shadow:inset 0 1.5px 3px #7F8487;
    cursor: pointer;
}


/* Styling the body*/

body{
    background-color: #F0EEF1;
}

main{
    padding-top: 30px;
}

.wrapper, .modal-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-book{
    font-size: 24px;
    border: none;
    border-radius: 50px;
    height: 60px;
    width: 180px;
    box-shadow: 0 1.5px 3px #7F8487;
    transition: background-color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}


.books{
    width: 100%;
    display: grid;
    padding: 50px 10% 50px 10%;
    grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
    grid-gap: 2.5rem;
}



/* Styling the card */

.card{
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

.read-button, .delete-button{
    width: 230px;
    height: 40px;
    font-size: 1.4rem;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: filter 0.2s ease-in-out;
}

.read{
    background-color: #8FE58C;
}

.unread{
    background-color: #E58C8C;
}

.read-button:hover , .delete-button:hover , button[type="submit"]:hover{
    filter: brightness(90%);
    box-shadow:inset 0 1.5px 3px #7F8487;
    cursor: pointer;
}   



/* Styling the Modal */

.modal{
    padding: 1em;
    width: 35ch;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 0;
    background-color: #F0EEF1;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
  }

.modal-text{
    padding-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input[type="text"], input[type="number"]{
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
}

input[type="checkbox"]{
    background-color: #fff;
    margin: 0;
    width: 1.3rem;
    height: 1.3rem;
}

button[type="submit"]{
    width: 17ch;
    height: 40px;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    background-color: #9FFF9C;
}

form>.wrapper{
    gap: 10px;
}